@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Roboto:wght@400;500&display=swap');

@import 'tailwindcss';

@theme {
    --color-qwe: #1C2366;
    --color-regal-blue: #1C2366;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --color-black: #1E1D1C;
    --color-green-50: #AACA36;
    --color-green-100: #628C3F;
    --hover-color: #1C2366;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    padding: 50px;
    margin-left: 250px;
    overflow-y: auto;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    main {
        margin: 20px;
        margin-bottom: 100px;
        width: auto;
    }
}

@media (min-width: 768px) {
    main {
        margin-left: 250px;
        padding: 50px;
    }
}

button,
label,
a {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karla', sans-serif;
}

.custom-bg {
    background: linear-gradient(135deg, #AACA36, #628C3F);
    border-color: #628C3F;
}

.sidebar-bg {
    background-color: var(--color-black);
    height: 100vh;
}

@media (max-width: 768px) {
    .sidebar-bg {
        height: 8vh;
    }
}

.sidebar-link {
    transition: background 0.2s;
}

.sidebar-link:hover {
    background-color: var(--hover-color);
}